%h2
  Add Products to
  = @shop.name
#shop-products
  = text_field_tag :product_name, nil, class: 'input-xxlarge', placeholder: 'Write down product name', autocomplete: 'off'
  %ul#shop-products-list

= content_for :scripts do
  :javascript
    (function(){
      require(['collections/products', 'views/shops/add_products'], function(Products, AddProducts){
        var productsShopCollection = new Products(#{@shop.products.to_json.html_safe});
        new AddProducts({ collection: productsShopCollection });
      });
    }());
