%h2 Shops List

= link_to 'Add New Shop', [:new, :shop], class: 'btn btn-primary'

%table.table#shops-list
  %thead
    %tr
      %th Name
      %th Street
      %th Postal Code
      %th City
      %th Actions
  %tbody
    - unless @shops.empty?
      = render @shops
